<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}WAIT IM NOT DONE!{{else}} EATING TIME {{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">To Old to Eat :/</button>
</li>